* {
    /*Alterações gerais do site*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    /*Definição das var de cores*/
    --branco: white;
    --cinza-claro: #F8F9FA;
    --cinza-escuro: #ccc;
    --amarelo-dourado: #FFBF41;
    --amarelo-escuro: #CC9900;
    --verde: #008000;
}

/*NOTA: Apagar esta linha do código após terminar tudo*/
/*NOTA: Apagar esta linha do código após terminar tudo*/
/*NOTA: Apagar esta linha do código após terminar tudo*/
html {
    height: 500vh;
}
/*NOTA: Apagar essa linha do código após terminar tudo*/
/*NOTA: Apagar essa linha do código após terminar tudo*/
/*NOTA: Apagar essa linha do código após terminar tudo*/

/*Sessão do header*/
.container {
    max-width: 100%;
    margin: auto;
    padding: 0px 24px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 40px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
}

header.rolagem{
    background-color: var(--cinza-claro);
    padding: 10px 4%;
}
/*Sessão de pesquisa do header*/
.pesquisa {
    display: flex;
}

input[type="text"] {
    width: 200px;
    padding: 10px;
    border: 1px solid var(--cinza-escuro);
    border-radius: 10px 0px 0px 10px;
}

button {
    padding: 10px 20px;
    background-color: var(--amarelo-dourado);
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

button:hover {
    background-color: var(--amarelo-escuro);
}

/*Sessão do banner*/
.banner{
    height: 100vh;
    background-image: url("./img/banner-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-faixa{
    /*background-color: var(--branco);*/
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    text-align: center;
}

.banner-faixa h1{
    color: var(--verde);
    font-size: 4em;
}

.banner-faixa h1 span{
    color: var(--amarelo-dourado);
}

/*Sessão das cartas*/
.carta{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.carta-imagem{
    margin: 15px;
    width: 200px;
    border-radius: 15px;
    transition: transform 0.1s ease-in-out;
}

.carta-imagem:hover{
    transform: scale(1.2);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

/*Comando para deixar a carta grande na tela e escurecer o fundo*/
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;  
  }
  
  .lightbox-content {
    max-width: 90%;
    max-height: 90%;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }